**
!Dockerfile
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!next.config.ts
!next-env.d.ts
!tsconfig.json
!tsconfig.next.json
!postcss.config.mjs
!app/
!app/**
!public/
!public/**
!db/
!db/**
**/.env*
**/*.sqlite*
**/*.db
**/*.pem
**/*.key
